# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\jonas\OneDrive\Documentos\5° Semestre\Aspectos Teóricos\MaquinaNorma-master\maquina norma av3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
